/* This is the css file which affects specificly only a doc.html*/
.header {
    background-color: #5B54DD;
    padding-top: 10px;
    min-height: 75px;
}

.header img{
    margin-right: 10px;
}

.box {
    display: flex;
    align-items: center;
}

.header button {
    background: #1D9C7F;
    border-radius: 30px;
    border: none;
    color: #ffff;
    font-size: 18px;
}

#home-button a {
    color: #ffff;
    font-size: 18px;
    font-weight: bold;
}

iframe{
    width: 100%;
}

#idea iframe {
    height: 520px;
}

#wireframe{
    background-color: #C8C6ED;
}

#wireframe iframe {
    height: 450px;
}

#wf-card {
    background-color: #ffff;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 80px;
    margin-right: 80px;
}

#mockup iframe {
    height: 700px;
}