/* This is the master css file for the whole projects */

/* default to border-box */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* adjust typography defaults */
body {
    margin: 1rem;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
  }
  
  /* images and videos max out at full width */
img,
video {
    height: auto;
    max-width: 100%;
  }

#logo{
  width: 220px;
  height: 60px;
  object-fit: cover;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

#navbar ul li {
  display: inline-block;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;

}

#navbar ul li a {
  color: #fff;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

.footer {
  background-color: #5B54DD;
}

.footer img{
  margin-top: 0.5em;
}

.footer #address {
  color: #FFFFFF;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 2em;
}